<a href="https://colab.research.google.com/github/Aaryan-Dhillon/DSA-Python-/blob/main/string%2Clist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#string
str1 = "This is string "
str2 = "This is tut"
print(str1+str2)

This is string This is tut

In [5]:
#string,remeber it also count spaces
str1 = "This is string"
len1 = len(str1)
print(len1)

#index form we can only acces the characters
str3 ="This is Mad World"
ch =str3[5]
#str3[5]= "@" not possible in this
print(ch)

#slicing
print(str3[0:5])
# there is one way to go till last index
print(str3[0:len(str3)])

14
i
This
This is Mad World

In [18]:
str ="i am studying here python"
print(str.endswith("on"))
print(str.capitalize())
# if want to change to originaL STRING
str =(str.capitalize())
print(str)
#want to replace
print(str.replace("o","a"))
print(str.replace("a","o"))
print(str.replace("here","khin se nhi"))
# return the first occurence of python
print(str.find("python"))
#count tell the frequency of particular word
print(str.count("python"))

#conditional
marks = int(input("Enter the Marks:"))
if (marks>=90):
  print("Grade D")
elif (marks>=85 and marks < 89):
  print("Grade C")
elif(marks <70):
  print("chod de bhai pdai")

True
I am studying here python
I am studying here python
I am studying here pythan
I om studying here python
I am studying khin se nhi python
19
1
Enter the Marks:66
chod de bhai pdai

In [47]:
#THis cell consit python lec 3 list and tuple
#list
my_list =[34,54,45,43,234]
print(len(my_list))
print(my_list[0])
print(my_list)
# ! important that list are mutable but strings are immutable
student = ["aaryan",23,"ambala cantt"]
student[0]= "Arjun"
print(student[0])

#list slicing same work as of string
print(my_list[0:])
print(my_list[0:2])
print(my_list[-3:-1])

#list methods
print(my_list.append(4)) # these function don't return anything , but they do appednd changes , in append is done at last
print(my_list)
#sort
print(my_list.sort()) #ascending sorting
print(my_list)
print(my_list.sort(reverse=True))
print(my_list)
#reverse
my_list.reverse()
print(my_list)
#insert : done t particu;ar location
my_list.insert(1,69.69)
print(my_list)

# same like this remove:remove first occurence of element, pop: remove all the element presence

#tuple starts from here,a built in data type which are immutable
tup = (33,45,44,21,33,21)
print(tup)
print(type(tup))

var = (1,)
var1 = (1)
print(type(var))
print(type(var1))

#tuple methods
print(tup.index(33)) # return the first occurence of tuple index
print(tup.count(33))#return occurence of particluar in tuple

#wap to take input 3 favorite movies and store them in list
movie1 = input("Enter the first movie")
movie2 = input("Enter the second movie")
movie3 = input("Enter the third movie")
movie_list = [movie1,movie2,movie3]
print(movie_list)

5
34
[34, 54, 45, 43, 234]
Arjun
[34, 54, 45, 43, 234]
[34, 54]
[45, 43]
None
[34, 54, 45, 43, 234, 4]
None
[4, 34, 43, 45, 54, 234]
None
[234, 54, 45, 43, 34, 4]
[4, 34, 43, 45, 54, 234]
[4, 69.69, 34, 43, 45, 54, 234]
(33, 45, 44, 21, 33, 21)
<class 'tuple'>
<class 'tuple'>
<class 'int'>
0
2
Enter the first moviekal ho na ho
Enter the second movie kfjdas
Enter the third moviejfadklsjf
['kal ho na ho', ' kfjdas', 'jfadklsjf']